aside
{
    width:16vw;
    height: calc(100vh - 140px);
    border-right: 1px solid #ccc;
}

#sidebarContent
{
    height:83%;
    width:50%;
    display:block;
    margin:auto;
}
.btn-group
{
    width:100%;
}
.btn-group button {
    background-color: mintcream; /* Green background */
    border: 1px solid mintcream; /* Green border */
    color: #069; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
.three button
{
    width: 33.3%;
}
.two button
{
    width: 50%;
}
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: block;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #ccc;
  }
